<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"
	href="/styles/charactersheetstyle.css">
<title>Mage-Hand Repository Character Sheets</title>
</head>
<body>
	<div class="layout">
		<h1>The Mage-Hand Repository</h1>
		<header>Character Sheets</header>
		<nav>
			<button id="login-btn" onclick="location.href='login'">Login</button>
			<button id="account-btn" onclick="location.href='account'">My
				Account</button>
			<button id="home-btn" onclick="location.href='index'">Home</button>
			<button id="races-btn" onclick="location.href='races'">Races</button>
			<button id="classes-btn" onclick="location.href='classes'">Classes</button>
			<button id="spells-btn" onclick="location.href='spells'">Spells</button>
			<button id="items-btn" onclick="location.href='items'">Items</button>
			<button id="character-sheets-btn"
				onclick="location.href='charactersheets'">Character Sheets</button>
		</nav>
		<section>
			<table>
				<thead>
					<tr>
						<th>Character Name</th>
						<th>Character Class</th>
						<th>Character Race</th>
						<th>Character Ability Scores</th>
						<th>Character Items</th>
						<th>Character Spells</th>
					</tr>
				</thead>
				<tbody>
				<th:block th:each="charactersheets : ${listCharacterSheets}">
						<tr>
							<td>[[${charactersheets.cName}]]</td>
							<td>[[${charactersheets.cClass}]]</td>
							<td>[[${charactersheets.cRace}]]</td>
							<td>[[${charactersheets.cScores}]]</td>
							<td>[[${charactersheets.cItems}]]</td>
							<td>[[${charactersheets.cSpells}]]</td>
						</tr>
				</th:block>
				</tbody>
			</table>
			<br>
			<br>
			<br>
			<button id="create-character-btn"
					onclick="location.href='createcharacter'">Create a
					New Character</button>
		</section>
	</div>
</body>
</html>